<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.lee.app.mapper.OmsOrderMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.lee.app.domain.OmsOrder" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="member_id" property="memberId" jdbcType="BIGINT" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="group_promotion_id" property="groupPromotionId" jdbcType="BIGINT" />
    <result column="coupon_id" property="couponId" jdbcType="BIGINT" />
    <result column="order_sn" property="orderSn" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="member_username" property="memberUsername" jdbcType="VARCHAR" />
    <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
    <result column="pay_amount" property="payAmount" jdbcType="DECIMAL" />
    <result column="freight_amount" property="freightAmount" jdbcType="DECIMAL" />
    <result column="promotion_amount" property="promotionAmount" jdbcType="DECIMAL" />
    <result column="integration_amount" property="integrationAmount" jdbcType="DECIMAL" />
    <result column="coupon_amount" property="couponAmount" jdbcType="DECIMAL" />
    <result column="discount_amount" property="discountAmount" jdbcType="DECIMAL" />
    <result column="pay_type" property="payType" jdbcType="INTEGER" />
    <result column="source_type" property="sourceType" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="order_type" property="orderType" jdbcType="INTEGER" />
    <result column="delivery_company" property="deliveryCompany" jdbcType="VARCHAR" />
    <result column="delivery_sn" property="deliverySn" jdbcType="VARCHAR" />
    <result column="auto_confirm_day" property="autoConfirmDay" jdbcType="INTEGER" />
    <result column="integration" property="integration" jdbcType="INTEGER" />
    <result column="growth" property="growth" jdbcType="INTEGER" />
    <result column="promotion_info" property="promotionInfo" jdbcType="VARCHAR" />
    <result column="bill_type" property="billType" jdbcType="INTEGER" />
    <result column="bill_header" property="billHeader" jdbcType="VARCHAR" />
    <result column="bill_content" property="billContent" jdbcType="VARCHAR" />
    <result column="bill_receiver_phone" property="billReceiverPhone" jdbcType="VARCHAR" />
    <result column="bill_receiver_email" property="billReceiverEmail" jdbcType="VARCHAR" />
    <result column="receiver_name" property="receiverName" jdbcType="VARCHAR" />
    <result column="receiver_phone" property="receiverPhone" jdbcType="VARCHAR" />
    <result column="receiver_post_code" property="receiverPostCode" jdbcType="VARCHAR" />
    <result column="receiver_province" property="receiverProvince" jdbcType="VARCHAR" />
    <result column="receiver_city" property="receiverCity" jdbcType="VARCHAR" />
    <result column="receiver_region" property="receiverRegion" jdbcType="VARCHAR" />
    <result column="receiver_detail_address" property="receiverDetailAddress" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="confirm_status" property="confirmStatus" jdbcType="INTEGER" />
    <result column="delete_status" property="deleteStatus" jdbcType="INTEGER" />
    <result column="use_integration" property="useIntegration" jdbcType="INTEGER" />
    <result column="payment_time" property="paymentTime" jdbcType="TIMESTAMP" />
    <result column="delivery_time" property="deliveryTime" jdbcType="TIMESTAMP" />
    <result column="receive_time" property="receiveTime" jdbcType="TIMESTAMP" />
    <result column="comment_time" property="commentTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="setOmsOrder" parameterType="com.aaa.lee.app.domain.OmsOrder">
    insert  into oms_order (
    member_id,
    shop_id,
    order_sn,
    create_time,
    member_username,
    total_amount,
    pay_amount
    )
    values(
     #{memberId},
      #{shopId},
      #{orderSn},
      #{createTime},
      #{memberUsername},
      #{totalAmount},
      #{payAmount}
    )
  </insert>
  <update id="updateStatusFailed" parameterType="long" >
      update oms_order set status = 5 where member_id=#{member_id}
    </update>
  <update id="updateStatusWait">
        update oms_order set status = 0 where member_id=#{member_id}
    </update>
  <update id="updateStatusFinish">
        update oms_order set status = 1 where member_id=#{member_id}
    </update>
  <select id="getMemberId" resultType="java.lang.Long" parameterType="java.lang.String">
      SELECT id from ums_member where token=#{token}
    </select>
  <select id="stock" resultType="java.lang.Integer" parameterType="long">
    select stock from pms_sku_stock where product_id=#{productId}
  </select>
  <select id="selectLastInsertId" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </select>
  <resultMap id="Map" type="com.aaa.lee.app.vo.OmsOrderAndShopInfoVo" >
    <result column="order_sn" property="orderSn" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
    <result column="pay_amount" property="payAmount" jdbcType="DECIMAL" />
    <result column="order_type" property="orderType" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="id" property="shopId" jdbcType="BIGINT" />
    <result column="images" property="images" jdbcType="VARCHAR" />
    <result column="order_status" property="orderStatus" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getOrderAndShopInfo" parameterType="java.lang.Long" resultMap="Map">
    SELECT DISTINCT
    oo.order_sn,
    oo.create_time,
    oo.total_amount,
    oo.pay_amount,
    oo.order_type,
    usi.name,
    usi.id,
    usi.images,
    oo.order_status,
    usi.phone
    FROM
    oms_order oo
    INNER JOIN ums_shop_information usi ON oo.shop_id = usi.id
    WHERE
    oo.member_id =#{param1}
    <choose>
      <when test="param2==0">
        and order_status =0
      </when>
      <when test="param2==1">
        and order_status =1
      </when>
      <when test="param2==2">
        and order_status =2
      </when>
      <when test="param2==3">
        and order_status =3
      </when>
      <when test="param2==4">
        and order_status =4
      </when>
      <when test="param2==5">
        and order_status =5
      </when>
      <otherwise>
        AND 1 = 1
      </otherwise>
    </choose>
    ORDER BY
    oo.create_time DESC

  </select>
</mapper>