<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.lee.app.mapper.TokenMapper">

    <select id="selectToken" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT
                token
            FROM
               ums_member
            where
                token = #{token}
    </select>
</mapper>